<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="home-header">Egis </div>
  <div class="inputs">
    <ion-list>

      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Surname</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Phone</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select [(ngModel)]="gender">
          <ion-option value="Man">Man</ion-option>
          <ion-option value="Woman">Woman</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </div>
  <ion-buttons>
    <button ion-button block (click)="onLoadMap()">Let's Go</button>
  </ion-buttons>
</ion-content>